[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/me/.local/share/rambox/linux-unpacked/Rambox
Name=Rambox
Icon=/home/me/.local/share/rambox/icons/256x256.png
Categories=Messaging;